botocore
boto3
deepspeed
filelock
scipy
nltk
regex
tqdm
matplotlib
pandas
requests
sentencepiece
ftfy
langdetect
lsh
scikit_learn
tensorboardX
termcolor
tldextract
transformers
rouge_score
fasttext
unidecode