nltk>=3.4
numpy>=1.15.4
pandas>=0.24.0
sentencepiece>=0.1.8
requests==2.23.0
torch>=1.6.0
apex==0.9.10dev
boto3==1.11.11
regex==2020.1.8
botocore==1.19.30
ftfy==5.8
langdetect==1.0.8
lsh==0.1.2
matplotlib==3.3.3
mpi4py==3.0.3
tldextract==3.1.0
deepspeed>=0.3.0
scipy
tqdm
tensorboardX
filelock
rouge