botocor
boto3
deepspeed==0.3.16
filelock
scipy
nltk
regex
tqdm
torch_scatter
matplotlib
mpi4py
pandas
requests
sentencepiece
ftfy
langdetect
lsh
scikit_learn
tensorboardX
termcolor
tldextract
transformers